<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - RESCUE co-simulation platform dashboard</title>
    {% endblock %}
     <script src="{{ url_for('static', filename='htmx.js') }}"></script>
</head>

<body>
    <h1>RESCUE co-simulation platform dashboard</h1>
    <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>